html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.header a {
  color: #fff;
  text-decoration: none;
}
.header-navigation {
  padding: 10px 0;
  background-color: #7195f8;
  color: rgb(247, 247, 247);
}
.header-logo {
  float: left;
  margin-right: 300px;
}
.menu {
  padding: o;
  margin: 0;
  list-style: none;
  font-size: 0;
}
.menu-item {
  display: inline-block;
}
.menu-link {
  text-transform: uppercase;
  padding: 0 15px;
  font-size: 16px;
}
